@using OdeToFood.Models
@model Restaurant

@{
    ViewBag.Title = "Create Restaurant";
}

<form method="post">
    <div>
        <p>
            <label asp-for="Name">
            </label><input asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </p>
    </div>

    <div>
        <p>
            <label asp-for="Cuisine"></label>
            <select asp-for="Cuisine" asp-items="@Html.GetEnumSelectList<CuisineType>()"></select>
            <span asp-validation-for="Cuisine"></span>
        </p>
    </div>
    <input type="submit" value="Submit" />
</form>