@model OdeToFood.Models.Restaurant

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>@Model.Name</h1>
    <h2>@Model.Cuisine</h2>

    <a asp-action="Index">Back to list</a>

    
</body>
</html>